/* Adapted to Dracula theme from: https://github.com/jjon-saxton/rice/tree/main/waybar */

* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0); 
    color: #bbc2cf;
}

tooltip {
    background: #2c2c34;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #bbc2cf;
    margin-right: 5px;
}

#workspaces button.active {
    color: #bd93f9;
}

#workspaces button.focused {
    color: #bd93f9;
    background: #bd93f9;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: rgb(242,140,42);
    border-radius: 10px;
}

#workspaces button:hover {
    color: #282a36;
    background: #8be9fd;
    border-radius: 10px;
}

#mpris,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray {
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
}

#mpris,
#pulseaudio,
#clock {
    color: #282a36;
    background: #8be9fd;
    border: 1px solid #8be9fd;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: rgba(30, 31, 41, 230);
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
    border: 1px solid rgba(30, 31, 41, 230);
}

#pulseaudio {
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
    min-width: 5px;
}

#window {
    color: #282a36;
    background: #50fa7b;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 60px;
}

window#waybar.empty  #window{
    border: 0px;
    margin: 0Px;
    padding: 0px;
    background-color: transparent;
}

#clock {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    border-right: 0px;
}